// Utilize this for something cool
// .navigation:hover > a:not(:hover) {
//     -webkit-filter: grayscale(80%) blur(5px);
// }
//
.content > section {
    left: -2000px;
    opacity: 0;
    position: relative;
    padding: $gutter;
    width: 0;
    h2 {
        color: #fff;
    }
    text-shadow: 1px 1px 0 transparentize(black, .7);
}

.about {
    background-color: #d9534f;
}

.portfolio {
    background-color: #5cb85c;
}

.services {
    background-color: #5bc0de;
}

.contact {
    background-color: #f0ad4e;
}

.thumbnail > img {
    border: 2px solid $gray;
}

a.thumbnail:hover > img {
    box-shadow: 0 0 0 2px $orange;
}