#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $blue-dark;
    z-index: 9999;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('img/preloader.gif') no-repeat center;
    margin: -100px 0 0 -100px;
}