.sidebar {
    padding-top: $gutter;
    padding-bottom: $gutter;

    .well {
        margin: $gutter 0;
    }
}

.sidebar.affix {
    right: 0;
}

@media (max-width: 767px) {
    .sidebar.affix {
        position: relative;
    }
}