.thumbnail {
    background-color: transparent;
    img {
        width: 200px;
    }
}

a.thumbnail:focus {
    border-color: transparent;
}

.owl-theme .owl-controls .owl-buttons div {
    color: $gray;
    background-color: $blue-dark;
    padding: 10;
    &.owl-next {
        border-radius: $gutter * 4 $gutter $gutter * 4;
    }
    &.owl-prev {
        border-radius: $gutter $gutter * 4 $gutter;
    }
}

.owl-item.loading{
    background: url(img/lazy-load.gif) no-repeat center center
}