// Color
$blue-dark  : #2b3e50;
$blue-light : #5bc0de;
$blue-mid   : #4e5d6c;
$gold       : #f0ad4e;
$green      : #5cb85c;
$orange     : #df691a;
$red        : #d9534f;

$black      : #000000;
$gray       : #ebebeb;

// Spacing
$gutter: 3em;