<main class="about">
    <h2>About</h2>
    <p class="lead">
        Howdy, my name is Gus Spiegel and I write code. I’ve been working in web programming & design for over 9 years. I have helped create countless sites for people all over the world.
    </p>
    <p>
        After years of operating in all aspects of web development, I’ve decided to narrow down my focus to the front-end. As such, I work with various web agencies to can turn any design into clean and efficient code.
    </p>
</main>