<html>
<head>
    <meta charset="UTF-8">
    <title>Gus Buckingham &mdash; Web Developer</title>
    <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha256-AbCXzDgd7Vj/2JrsXgjrLdYZ92AgN262cXvQr4tAQa4= sha512-cA2CLCEXBR7hnXGgSNa+TaQ7WT2zW1IVm6uCLcu3ebHNhy+VIudw9kwgHlcL57wCiiXLZ1x7yT5Mv3QkDO2XZA==" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Container -->
    <div class="container-fluid" role="main">
        <!-- Main Content -->
        <main class="content col-sm-8" role="main">
            <section class="about">
                <h2>Howdy...</h2>
                <p class="lead">
                    I'm <strong>Gus Buckingham, front-end extraordinaire.</strong> I write code, among other things. Web programming and design have been my passion for over 9 years. Throughout the course, I have helped create countless sites and apps for people all over the world.
                </p>
                <p class="lead">
                    After years of operating in all aspects of web development, I’ve narrowed down my focus to the front-end. These days I work with different designers and agencies to can create clean and efficient websites for clients.
                </p>
            </section>
            <section class="services">
                <h2>Services</h2>
                <p class="lead">
                    I specialize in building custom designs using <strong>HTML5</strong> and <strong>CSS</strong>. I can then add functionality via <strong>JavaScript</strong> and other popular technologies.
                </p>
                <p>
                    On top of custom solutions built from scratch, I work with a few popular frameworks and platforms to create even more powerful sites and applications.
                </p>
                <ul>
                    <li>
                        <p>
                            <strong>Bootstrap</strong> is a phenomenal framework used to build responsive layouts quickly. I use it to speed up the development process of your projects while ensuring maximum compatibility and functionality across all platforms.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>WordPress</strong> is an industry-leading content management system used to drive a variety of different types of websites. From blogs to e-commerce, WordPress gives it's users a powerful toolset to create and manage information easily. I use my expertise to modify and expand on the functionality that is included.
                        </p>
                    </li>
                </ul>
            </section>
            <section class="portfolio">
                <h2>Portfolio</h2>
                <p class="lead">
                    Feel free to browse through some of my previous work.
                </p>
                <div class="owl-carousel">
                    <a href="#" class="thumbnail">
                        <img class="img-circle lazyOwl" data-src="//placehold.it/200x200" alt="">
                    </a>
                    <a href="#" class="thumbnail">
                        <img class="img-circle lazyOwl" data-src="//placehold.it/200x200" alt="">
                    </a>
                    <a href="#" class="thumbnail">
                        <img class="img-circle lazyOwl" data-src="//placehold.it/200x200" alt="">
                    </a>
                    <a href="#" class="thumbnail">
                        <img class="img-circle lazyOwl" data-src="//placehold.it/200x200" alt="">
                    </a>
                    <a href="#" class="thumbnail">
                        <img class="img-circle lazyOwl" data-src="//placehold.it/200x200" alt="">
                    </a>
                </div>
            </section>
            <section class="contact">
                <h2>Contact</h2>
                <p>
                    Feel free to get in touch for a quote on your next project.

                    <address>
                        <abbr title="Phone Number">P:</abbr> <a href="tel:+12097409063">209.740.9063</a>
                        <abbr title="Email">E:</abbr> <a href="mailto:captain@zerodaedalus.net">captain@zerodaedalus.net</a>
                    </address>
                </p>
            </section>
        </main>
        <!-- Sidebar -->
        <aside class="sidebar col-sm-4 text-center">
            <!-- Sidebar/Info -->
            <img src="http://placehold.it/200x200" alt="Profile Picture" class="img-circle img-responsive center-block">
            <p class="h1">Hi, I'm Gus.<br><small>I build cool stuff.</small></p>
            <!-- Sidebar/CTA -->
            <div class="well well-lg">
                <p class="h2">I'm available for hire <br><small>so feel free to <a href="#contact">get in touch.</a></small></p>
            </div>
            <small class="hidden-xs">Copyright &copy; 2016 &bull; <a href="gus.zerodaedalus.com">Gus Buckingham</a></small>
        </aside>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>