<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dewitt &ldquo;DJ&rdquo; Buckingham &mdash; Web Developer</title>
    <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="vendor/owl-carousel/owl.transitions.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-88w0u/oucDSTE30ETLLIobzhT+bQ6CSsiqQyLZpwHvve89eqUA9F2Db6ST6jGRLx" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader" class="bg-primary">
        <p class="text-center lead">If your page doesn't load, please make sure that <strong>Javascript</strong> is enabled. This page requires it.</p>
        <div id="status">&nbsp;</div>
    </div>

    <!--

        START OF PORTFOLIO MODALS

     -->

    <!-- Enver -->
    <div id="enver" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="button close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                    <h4 class="modal-title">ENVER</h4>
                </div>
                <div class="modal-body">
                    <p class="lead">This project was a collaboration with <a href="http://mattabron.com/"><strong>Matt Abron</strong></a> of <a href="http://www.visualjelly.com"><strong>Visual Jelly.</strong></a> He designed an amazing layout for the Enver energy company to launch their new solar campaign which I then built into a responsive site using <strong>Bootstrap.</strong></p>
                    <div class="well well-lg">
                        <div class="modal-carousel">
                            <div>
                                <img src="img/enver-mobile.jpg" alt="" class="center-block img-responsive">
                            </div>
                            <div>
                                <img src="img/enver-medium.jpg" alt="" class="center-block img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JK Realty -->
    <div id="jk" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="button close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                    <h4 class="modal-title">JK REALTY</h4>
                </div>
                <div class="modal-body">
                    <p class="lead">This website was built for John Kirley, a Bay Area real estate broker and his executive team. It was designed with simplicity and ease of use in mind.</p>
                    <div class="well well-lg">
                        <div class="modal-carousel">
                            <div>
                                <img src="img/jk-mobile.jpg" alt="" class="center-block img-responsive">
                            </div>
                            <div>
                                <img src="img/jk-medium.jpg" alt="" class="center-block img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dapper Tiger -->
    <div id="dapper" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="button close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                    <h4 class="modal-title">DAPPER TIGER</h4>
                </div>
                <div class="modal-body">
                    <p class="lead">This was a joint project with <a href="http://www.dappertiger.com/"><strong>Marie Fleur from Dapper Tiger.</strong></a> She designed an amazing site for the <a href="http://nationbuilder.com/"><strong>Nation Builder</strong></a> CMS platform for non-profits and political organizations. I coded the site using their custom <a href="http://liquidmarkup.org/"><em>Liquid templating</em></a> system.</p>
                    <div class="well well-lg">
                        <div class="modal-carousel">
                            <div>
                                <img src="img/dapper-mobile.jpg" alt="" class="center-block img-responsive">
                            </div>
                            <div>
                                <img src="img/dapper-medium.jpg" alt="" class="center-block img-responsive">
                            </div>
                            <div>
                                <img src="img/dapper-wide.jpg" alt="" class="center-block img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Interfaith Food Bank -->
    <div id="ifb" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="button close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                    <h4 class="modal-title">INTERFAITH FOOD BANK</h4>
                </div>
                <div class="modal-body">
                    <p class="lead">The <strong>Interfaith Food Bank (I.F.B.)</strong> is a non-profit based in Stockton, California that provides local churches and shelters with food and supplies for those in need. I built this site free of charge to help their donors more easily contribute to the cause.</p>
                    <div class="well well-lg">
                        <div class="modal-carousel">
                            <div>
                                <img src="img/ifb-mobile.jpg" alt="" class="center-block img-responsive">
                            </div>
                            <div>
                                <img src="img/ifb-mobile2.jpg" alt="" class="center-block img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scramble -->
    <div id="scramble" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="button close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
                    <h4 class="modal-title">SCRAMBLE</h4>
                </div>
                <div class="modal-body">
                    <p class="lead">This was a personal experiment which evolved into a full-fledged <a href="//staging.zerodaedalus.com/scramble"><strong>browser game</strong></a>. Using a minimal <strong>Bootstrap</strong> interface, it's a fun little time-wasting word game with a few cool features thrown in there to entertain.</p>
                    <div class="well well-lg">
                        <div class="modal-carousel">
                            <div>
                                <img src="img/scramble-mobile.jpg" alt="" class="center-block img-responsive">
                            </div>
                            <div>
                                <img src="img/scramble-medium.jpg" alt="" class="center-block img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--

        START OF CONTENT

     -->

    <!-- Container -->
    <div class="container-fluid">

        <!--

        START OF MAIN

         -->

        <!-- Main Content -->
        <main class="content col-xs-12 col-md-8" role="main">
            <!-- About -->
            <section id="about" class="about bg-danger">
                <!-- Head Link -->
                <a href="#" class="head-link pull-right text-warning"><strong>Dewitt</strong></a>
                <!-- Intro -->
                <h2><i>Howdy</i></h2>
                <p class="lead">
                    I'm <strong>Dewitt Buckingham</strong>, but you can call me <em>"D.J."</em> if you like. I write code and build cool stuff.
                </p>
                <p class="lead">
                    <strong>Web programming</strong> has been a hobby of mine for over 10 years. I've worked as a professional freelance developer since 2013. In doing so I've helped create countless sites and web services for businesses and non-profits all over the world.
                </p>
                <!-- Hero Slider -->
                <div class="hero-slider owl-carousel">
                    <div>
                        <img src="img/coffee-code.jpg" alt="" class="img-responsive center-block">
                    </div>
                    <div>
                        <img src="img/sketch-phone.jpg" alt="" class="img-responsive center-block">
                    </div>
                    <div>
                        <img src="img/note-pen.jpg" alt="" class="img-responsive center-block">
                    </div>
                </div>
                <!-- Mission -->
                <p class="lead">
                    After years of operating in all aspects of <strong>web development</strong>, I’ve narrowed down my focus to the <strong>front-end development & coding</strong>, albeit with occasional back-end work. These days I work with different designers and agencies to  create clean yet complex websites/apps for their clients.
                </p>
            </section>
            <!-- Services -->
            <section id="services" class="services bg-success">
                <h2>Services</h2>
                <p class="lead">
                    I lot of my work is coded from scratch using <strong>HTML5</strong> and <strong>CSS</strong>, adding functionality via <strong>JavaScript</strong> (or <strong>jQuery</strong>). On top of that I frequently work with popular frameworks and platforms to create even more powerful solutions.
                </p>
                <p class="lead">
                    Occasionally, I'll implement back-end data services for applications I work on. For this I typically utilize a combination of <strong>Node.js</strong>, <strong>Express</strong> and <strong>MongoDB</strong> as a part of what's known as <em>the MEAN stack.</em>
                </p>
                <p class="lead">
                    Here is a comprehensive list of different technologies, systems and frameworks that I utilize.
                </p>
                <hr>
                <div class="logo-wall">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="img/angular.svg" alt="" class="tag img-responsive center-block">
                        </div>
                        <div class="col-sm-6">
                            <img src="img/jquery.svg" alt="" class="tag img-responsive center-block">
                        </div>
                        <div class="col-sm-6">
                            <img src="img/mongodb.svg" alt="" class="tag img-responsive center-block">
                        </div>
                        <div class="col-sm-6">
                            <img src="img/nodejs.svg" alt="" class="tag img-responsive center-block">
                        </div>
                        <div class="col-sm-12">
                            <img src="img/wordpress_lg.svg" alt="" class="tag img-responsive center-block">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-2">
                            <img src="img/html5.svg" alt="" class="tag img-responsive center-block">
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <img src="img/css3.svg" alt="" class="tag img-responsive center-block">
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <img src="img/js.svg" alt="" class="tag img-responsive center-block">
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <img src="img/bootstrap.svg" alt="" class="tag img-responsive center-block">
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <img src="img/sass.svg" alt="" class="tag img-responsive center-block">
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            <img src="img/grunt.svg" alt="" class="tag img-responsive center-block">
                        </div>
                    </div>
                </div>
                <!-- Badge Carousel -->
<!--                 <div class="badge-carousel hide">
                    <img src="img/html5.svg" alt="" class="tag img-responsive center-block">
                    <img src="img/css3.svg" alt="" class="tag img-responsive center-block">
                    <img src="img/js.svg" alt="" class="tag img-responsive center-block">
                    <img src="img/jquery.svg" alt="" class="tag img-responsive center-block">
                    <img src="img/wordpress.png" alt="" class="tag img-responsive center-block">
                    <img src="img/bootstrap.svg" alt="" class="tag img-responsive center-block">
                    <img src="img/nodejs.svg" alt="" class="tag img-responsive center-block">
                </div> -->
            </section>
            <!-- Portfolio -->
            <section id="portfolio" class="portfolio bg-info">
                <!-- Lead -->
                <h2>Portfolio</h2>
                <p class="lead">
                    Feel free to browse through some of my previous work.
                </p>
                <!-- Portfolio Carousel -->
                <div class="portfolio-carousel hide">
                    <a class="thumbnail" data-toggle="modal" data-target="#enver">
                        <img class="img-circle lazyOwl" data-src="img/enver-icon.jpg" alt="Portfolio Icon - Enver">
                    </a>
                    <a class="thumbnail" data-toggle="modal" data-target="#jk">
                        <img class="img-circle lazyOwl" data-src="img/jk-logo.jpg" alt="Portfolio Icon - JK Realty">
                    </a>
                    <a class="thumbnail" data-toggle="modal" data-target="#dapper">
                        <img class="img-circle lazyOwl" data-src="img/dapper-icon.png" alt="Portfolio Icon - Dapper Tiger">
                    </a>
                    <a class="thumbnail" data-toggle="modal" data-target="#ifb">
                        <img class="img-circle lazyOwl" data-src="img/ifb-icon.jpg" alt="Portfolio Icon - Interfaith Food Bank">
                    </a>
                    <a class="thumbnail" data-toggle="modal" data-target="#scramble">
                        <img class="img-circle lazyOwl" data-src="img/scramble-icon.jpg" alt="Portfolio Icon - Scramble">
                    </a>
                </div>
            </section>
            <!-- Contact -->
            <section id="contact" class="contact bg-warning">
                <!-- Lead -->
                <h2>Contact</h2>
                <p class="lead">
                    Feel free to get in touch for a quote on your next project.
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-fw fa-phone"></i> <a href="tel:+12097409063" target="_blank">Call Me</a>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-envelope"></i> <a href="mailto:captain@zerodaedalus.net" target="_blank">Email Me</a>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-twitter"></i> <a href="https://twitter.com/dewitt_buck" target="_blank">Tweet Me</a>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-facebook"></i> <a href="https://www.facebook.com/dewitt.buckingham" target="_blank">Facebook Me</a>
                        </li>
                    </ul>
                </p>
                <!-- Sent Message -->
                <div id="message-sent" class="well hide">
                    You message has been sent. Expect a response within 48 hours.
                </div>
                <!-- Message Error -->
                <div id="message-error" class="well hide">
                    An error occured. Please try sending your message again.
                </div>
                <!-- Contact Form -->
                <form id="contact-form">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input name="name"type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number (optional)</label>
                        <input name="phone" type="phone" class="form-control" id="phone" placeholder="(555) 555-5555">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> Send</button>
                </form>
            </section>
        </main>

        <!--

            START OF SIDEBAR

         -->

        <!-- Sidebar -->
        <aside data-spy="affix" class="sidebar col-xs-12 col-md-4 text-center">
            <!-- Sidebar/Info -->
            <img src="img/me.jpg" alt="Profile Picture" class="img-circle img-responsive center-block">
            <div>
                <p class="h1">I'm Dewitt</p>
                <p class="lead">I'm a <strong>front-end web developer</strong> who specializes in building websites for small businesses and web agencies.</p>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-fw fa-github"></i> <a href="https://github.com/DaJoker29" target="_blank">View my code on GitHub</a>
                    </li>
                </ul>
            </div>
            <!-- Sidebar/CTA -->
            <div class="well-lg bg-primary">
                <p class="h1"><strong>I'm available for hire</strong></p>
                <p class="lead">So feel free to <a href="#contact" class="text-muted"><strong>get in touch.</strong></a></p>
            </div>
            <footer class="small">Copyright &copy; 2016 &bull; <a href="//zerodaedalus.net" target="_blank">Dewitt Buckingham</a></footer>
        </aside>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.maskedinput.min.js"></script>
    <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendor/SmoothScroll.js"></script>
    <script src="script.js"></script>
</body>
</html>
