<html>
<head>
    <meta charset="UTF-8">
    <title>Gus Buckingham &mdash; Web Developer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha256-AbCXzDgd7Vj/2JrsXgjrLdYZ92AgN262cXvQr4tAQa4= sha512-cA2CLCEXBR7hnXGgSNa+TaQ7WT2zW1IVm6uCLcu3ebHNhy+VIudw9kwgHlcL57wCiiXLZ1x7yT5Mv3QkDO2XZA==" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Container -->
    <div class="container-fluid" role="main">
        <!-- Main Content -->
        <main class="col-sm-8" role="main">
            <section id="about"></section>
            <section id="portfolio"></section>
            <section id="services"></section>
            <section id="contact"></section>
        </main>
        <!-- Sidebar -->
        <aside class="sidebar col-sm-4 text-center">
            <!-- Sidebar/Info -->
            <img src="http://placehold.it/200x200" alt="Profile Picture" class="img-circle img-responsive center-block">
            <p class="h1">Hi, I'm Gus.<br><small>I build cool websites.</small></p>
            <!-- Sidebar/CTA -->
            <div class="well well-lg">
                <p class="h2">I'm available for hire <br><small>so feel free to <a href="#contact">get in touch.</a></small></p>
            </div>
            <small class="hidden-xs">Copyright &copy; 2016 &bull; <a href="gus.zerodaedalus.com">Gus Buckingham</a></small>
        </aside>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>