<main class="services">
    <h2>Services</h2>
    <p>
        I specialize in building completely custom code in HTML5 and CSS3 based on a provided design. I can then add functionality and interactivity to the design via Javascript. I also work with popular frameworks and platforms to expand the versatility of the sites I build.
    </p>
    <p>
        Twitter Bootstrap is a popular front-end framework used to create mobile-first responsive layouts quickly and efficiently. I can use Bootstrap to speed up the development process of your project while ensuring maximum compatibility and functionality across all platforms.
    </p>
    <p>
        WordPress is an industry-standard content management system used to drive a variety of different types of websites. From blogs to e-commerce to social networks, WordPress gives users a powerful base to create and manage information easily. I use my expertise to modify and expand on the already impressive functionality that is included with it.
    </p>
</main>